extends layout

block content
  h1= title

  form(action="/vehicles/create", method="POST")
    div.form-group
      label(for="vehicle_name") Vehicle Name:
      input#vehicle_name(type="text", name="vehicle_name", required=true)

    div.form-group
      label(for="price") Price:
      input#price(type="number", name="price", required=true)

    div.form-group
      label(for="functionality") Functionality:
      input#functionality(type="text", name="functionality", required=true)

    button(type="submit") Create Vehicle
