extends layout

head
  link(rel="stylesheet", href="/styles.css")

block content
  h1 Vehicle Results
  ul
    each vehicle in results
      li
        div.vehicleAttr
          | Vehicle Name: #{vehicle.vehicle_name}
        div.vehicleAttr
          | Price: #{vehicle.price}
        div.vehicleAttr
          | Functionality: #{vehicle.functionality}
