extends layout

block content
  h1= title
  if toShow
    p Are you sure you want to delete #{toShow.vehicle_name}?
    form(action=`/vehicles/delete/${toShow._id}` method="POST")
      button(type="submit") Delete Vehicle

  else
    p Vehicle not found.
