extends layout

block content
  h1 Create a New Vehicle
  form(id='VehicleForm', action="/vehicles", method="POST" class="form-container")
    div.form-group
      label.vehicleAttr(for='vehicle_name') Vehicle Name
      input#vehicle_name(type='text', name='vehicle_name', class='form-control', required=true)
    div.form-group
      label.vehicleAttr(for='functionality') Functionality
      input#functionality(type='text', name='functionality', class='form-control', required=true)
    div.form-group
      label.vehicleAttr(for='price') Price
      input#price(type='number', name='price', class='form-control', required=true, min=0)
    input(type="submit" class="btn btn-primary" value="Submit")
