body {
  background-color: #add8e6; /* Light blue background */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  background-color: #bde0fe;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: left;
  color: orange;
}

h2 {
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.details {
  padding: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
}

p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.actions {
  text-align: center;
  margin-top: 20px;
}

a.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

a.btn-primary:hover {
  background-color: darkblue;
}
